#notice {
  width: 1080px;
  margin: 0 auto;
}
.title{
    font-size: 20px;
    font-weight: 600;
}
tbody td {
  padding: 8px 18px 8px 12px;
  border-bottom: 1px solid #f2f2f2;
  font-size: 15px;
}
.post-sort {
  text-align: center;
}
.necessary{
    border: 1px rgb(121, 141, 196) solid;
    border-radius: 8px;
    background-color: rgba(76, 107, 194, 0.555);
}
.important{
    border: 1px rgb(121, 141, 196) solid;
    border-radius: 8px;
}
.nomal {
  border: 1px solid rgba(144, 157, 194, 0.555);
  border-radius: 8px;
}

