.management-container {
  width: 1080px;
margin-left: 300px;
}
.employer-list {
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid #c4c5c7;
  max-height: 650px;
  border-radius: 8px;
}
.employer-info {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
  .inner-employer-info {
    background-color: #e0e3fa;
    display: flex;
    border-radius: 5px;
    width: 94%;
    height: 40px;
    border: 1px solid #95a2d4;
    font-size: 19px;
    line-height: 30px;
    align-items: center;
  }
}

.employer-info-element {
  padding-left: 20px;
  input {
    height: 27px;
    border-radius: 5px;
    border: 1px solid #95a2d4;
  }
}
.modify {
  font-weight: 700;
  width: 160px;
  height: 54px;
  margin-left: 900px;
  margin-top: 5px;
  padding: 0 12px;
  font-size: 13px;
  line-height: 36px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 1px;
  &:hover {
    color: #ffffff;
    background-color: #727272;
  }
}
