.trans-contents {
  border: 4px double gray;
  height: 100%;
  width: 880px;
  position: relative;
}

.contents-header {
  height: 100px;
  border-bottom: #ebecef solid 1px;
}

.contents-tit {
  font-size: 26px;
  margin: 8px;
}
.wirte {
  padding: 8px;
  display: flex;
  align-items: center;
}
.mask {
  display: inline-block;
  height: 36px;
  width: 36px;
  background-color: #efe7f0;
  margin-right: 3px;
}
.nick {
  margin-right: 6px;
  font-size: 13px;
  font-weight: 700;
}

.contents {
  padding: 10px;
  padding-bottom: 30px;
  border-bottom: #ebecef solid 1px;
  min-height: 250px;
}

.reply-tit {
  font-weight: 700;
  font-size: 17px;
}
.reply {
  height: 88px;
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 20px;
}
.reply input {
  border: none;
  flex-basis: 80%;
}
.reply-box {
  display: flex;
  border: 2px solid #ebecef;
  padding: 15px;
}
