#trans-container {
  width: 1080px;
  height: 80vh;
  margin: 0 auto;
}

.title {
  margin: 15px;
  font-size: 20px;
}

.trans-object {
  display: flex;
  border: 1px solid rgb(126, 126, 126);
  height: 100%;
}
.list-header {
  font-size: 20px;
  height: 30px;
  border-bottom: 1px solid gray;
  text-align: center;
}
.list-container {
  position: relative;
  height: 100%;
  flex-basis: 25%;
  border-right: black 1px solid;
}

.lists {
  height: 30px;
  padding: 5px;
  border-bottom: 1px solid gray;
  text-align: center;
  background-color: rgb(196, 206, 228);
}

.button-container {
  position: absolute;
  bottom: 8px;
  display: flex;
}
.buttons {
  font-weight: 700;
  min-width: 46px;
  height: 36px;
  margin-left: 10px;
  padding: 0 12px;
  font-size: 13px;
  line-height: 36px;
  color: #000000;
  background-color: #eff0f2;
  border-radius: 6px;
}

