.recipe-box {
  width: 1080px;
  margin: 0 auto;
}
.fix-button {
  border-radius: 10px;
  width: 130px;
  padding: 10px;
  &:hover {
    background-color: rgb(168, 168, 168);
  }
}

.flex {
  justify-content: space-around;
  display: flex;
}

#recipe-box {
  width: 1080px;
  margin: 0 auto;
}

.recipe-card {
  min-width: 250px;
  max-width: 250px;
}
