.make-recipe{

}

.fix-button{
    
    border-radius: 10px;
    width: 130px;
    padding: 10px;
}

.flex{
    justify-content: space-around;
    display: flex;
}

#recipe-box{
    width: 1080px;
    margin: 0 auto;
}